.container {
  background-color: #fcfcda;
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
  @media (max-width: 600px) {
    height: 90vh;
  }
}

.img {
  background-image: url("../../Resources/sultan.jpg");
  background-size: cover;
  width: 500px;
  height: 500px;
  @media (max-width: 600px) {
    background-position: -220px;
    width: 150px;
  }
}

.desc {
  color: black;
  width: 50%;
  > h1 {
    font-size: 70px;
    color: #98bba2;
    @media (max-width: 600px) {
      line-height: 40px;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // > h3 {
  //   font-size: 20px;
  //   margin-top: -35px;
  //   @media (max-width: 600px) {
  //     font-size: 15px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }
  > p {
    justify-content: start;
    line-height: 40px;
    color: #718877;
    @media (max-width: 600px) {
      font-size: 15px;
      line-height: 22px;
      text-align: justify;
      margin-left: -20px;
      width: auto;
      overflow: hidden;
    }
  }
}
