.container {
  background-color: #fcfcda;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  @media (max-width: 600px) {
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
}

.containeragregado {
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    p {
      position: relative;
      top: -200px;
      font-size: 17px;
      padding-left: 10px;
      font-weight: 800;
    }
  }
}
.container-cuentas {
  display: flex;
  @media (max-width: 600px) {
    width: 120px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
  }
  @media (max-width: 400px) {
    margin-left: 40px;
  }
}
.container-img2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4px;
  width: max-content;
}
.container-img3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4px;
  width: max-content;
}
.container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4px;
  width: max-content;
}
.img-mercadopago {
  background-image: url("../../Resources/mercadopago.png");
  background-size: cover;
  width: 120px;
  height: 110px;
  @media (max-width: 600px) {
    width: 60px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.img-santander {
  background-image: url("../../Resources/santander.png");
  background-size: cover;
  width: 350px;
  height: 60px;
  @media (max-width: 600px) {
    width: 113px;
    height: 20px;
  }
}

.img-frances {
  background-image: url("../../Resources/frances.png");
  background-size: cover;
  width: 172px;
  height: 95px;
  margin-left: 60px;
  @media (max-width: 600px) {
    width: 120px;
    height: 30px;
  }
}
