.container {
  height: 100vh;

  background-image: url("../../Resources/fondo.webp");
  background-size: cover;
  padding-top: 0px;
  @media (max-width: 600px) {
  }
}

.card {
  width: 40rem;
  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.container-card {
  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.card-body {
  background-color: transparent;
  border: 4px solid black;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  left: 340px;
  height: 20rem;
  @media (max-width: 600px) {
    position: relative;
    top: 90px;
    left: 0px;
    height: 20rem;
    width: 350px;
    overflow: hidden;
  }
}

.activo {
  color: red;
}

.card-title {
  font-size: 50px;
  font-weight: 800;
  padding: 10px;
}
.button {
  width: 50%;
  margin-left: 150px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 800;
  border-radius: 5px;
  &:hover {
    background-color: green;
  }
  @media (max-width: 600px) {
    margin-left: 30px;
    width: 80%;
    height: 50%;
  }
}
.button2 {
  width: 50%;
  margin-left: 150px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 800;
  border-radius: 5px;
  &:hover {
    background-color: green;
  }
  @media (max-width: 600px) {
    margin-left: 10px;
    width: 90%;
    height: 100%;
  }
}

.form {
  background-color: transparent;
  border: 4px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  left: 350px;
  height: 20rem;
  width: 100vh;
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0px;
    align-content: center;
    width: 17rem;

    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    height: 25rem;
  }
}

.input {
  @media (max-width: 600px) {
    height: 35px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid;
  }
}
.input:focus {
  background-color: lightblue;
}

.alert {
  background-color: rgb(11, 228, 11);
  width: min-content;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.alertrojo {
  background-color: rgb(255, 3, 3);
  width: 50%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
}
