.background {
  background-color: red;
  font-size: 50px;
  font-weight: 900;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    font-size: 40px;
    overflow: hidden;
  }
}
