.nav {
  color: black;

  height: 100vh;
  background-image: url(../../Resources/avion.jpg);
  background-size: 1400px 700px;
  background-repeat: no-repeat;
  p {
    font-size: 40px;
    width: max-content;
    font-weight: 800;
    position: relative;
    left: 420px;
  }
  @media (max-width: 600px) {
    background-image: url(../../Resources/portada.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -80px;
    height: 120vh;

    p {
      position: relative;
      top: -200px;
      left: 40px;
      font-size: 35px;
      width: max-content;
      font-weight: 800;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
}

.title {
  z-index: 20;
  font-size: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  @media (max-width: 600px) {
    height: 82vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    display: flex;
    padding-left: 80px;
    line-height: 80px;
  }
}
