.nav {
  color: black;

  height: 100vh;
  background-image: url(../../Resources/avion.jpg);
  background-size: 1400px 700px;
  background-repeat: no-repeat;

  @media (max-width: 600px) {
    height: 82vh;
    background-position: -680px;
  }
}

.title {
  z-index: 20;
  font-size: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  @media (max-width: 600px) {
    height: 82vh;
    font-size: 80px;
    display: flex;
    padding-left: 80px;
    line-height: 80px;
  }
}
